body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #104f18;
  color: white
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 350px;
  border: #10c027 2px solid;
  margin: 15px;
  position: relative;
}

.snake {
  width: 19px;
  height: 19px;
  border: 2px solid #c73c23;
  background-color: #c73c23;
}

.food {
  background-color: #4ff76b;
}

.cell {
  width: 16px;
  height: 16px;
  border: 1px solid #c73c23;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  width: 20px;
  height: 20px;
  border: 1px solid #c73c23;;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 35px;
  margin: 10px;
}

.start-button {
  background-color: #4ff76b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100px
}

.start-button:hover {
  background-color: #10c027;
}

.replay-button {
  background-color: #c73c23;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.replay-button:hover {
  background-color: #a32b1a;
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  height: 35px;
  margin: 10px;
  width: 350px;
}

.score-display {
  font-size: 20px;
  margin: 10px;
}

.game-over-display {
  align-self: center;
  position: absolute;
  font-size: 50px;
  margin: 10px;
  font-weight: bolder;
}

.touch-controls {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  height: 35px;
  margin: 10px 0 20px 0;
  width: 350px;
}

.touch-controls button {
  background-color: #4ff76b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.touch-controls button:active {
  background-color: #10c027;
}

.touch-controls button:hover {
  background-color: #08921a;
}
.